*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100%;
}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffff;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0,5);
}

section nav .logo img{
    width: 120px;
    margin:20px 0 ;
    left: -45%;
    cursor: pointer;
}

 nav ul{
    list-style: none;

}